ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding: 20px;
  margin: 0;
  background-color: #252525;

  color: white;
  border: 3px solid brown;
  border-radius: 35px;
  box-shadow: 0 0 10px black;
}

ul li a {
  text-decoration: none;
  color: white;
}

section {
  background: url("pexels-jagheterjohann-1254140.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    /* display: flex; */
    background-repeat: no-repeat;
    justify-content: center;
    color: aliceblue;
    border-radius: 15px;
    margin-top: 20px;
    background-position: fixed;
} 
   